################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Genercity/Genercity.VC.VC.opendb
/Genercity/Genercity/Debug
